.game-background {
    /* adds dirt color to background */
    background-color: #9b7653;
}
.GameOver {
    display: none;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    /* adjust for increase of map size due to UI increase */
    bottom: 132;
    left: 0;
    right: 0;
    font-size: 120px;
    font-family: 'Chicle', cursive;
    color: rgb(136, 8, 8);
    -webkit-text-stroke: 3px black;
}
/* parent display */
#screen {
    position: relative;
    display: inline-block;
}
.hearts{
    position:absolute;
    top: 4px;
    left: 0px;
    font-size: 40px;
    color: red;
    font-family: 'Chicle', cursive;
    -webkit-text-stroke: 3px black;
}
.money{
    position:absolute;
    top: 54px;
    left: 8px;
    font-size: 40px;
    color: green;
    font-family: 'Chicle', cursive;
    -webkit-text-stroke: 3px black;
}
.fa-money{
    color:green;
    margin-right: 8px;
    font-size: 40px;
}

.increase-height {
    padding-bottom: 100px;
}
.show{
    display:none;
}

.cus-font {
    font-family: 'Rock Salt', cursive;
    font-size: 50px;
}
.font-2 {
    font-family: 'Rock Salt', cursive;
    font-size: 20px;
}

.btn-font {
    font-family: 'Rock Salt', cursive;
    font-size: smaller;
}